# Mail
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

# JWT
JWT_SECRET=

# Database
DATABASE_URL=

# Google OAuth
GOOGLE_CLIENT_ID=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Client URL
CLIENT_URL=
ADMIN_URL=

# VNPay
VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_URL=
VNP_RETURN_URL=

# PayOS
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_RETURN_URL=http://localhost:5173/payment/result
PAYOS_CANCEL_URL=http://localhost:5173/payment/result?cancel=true
PAYOS_TEST_AMOUNT=

# OpenRouteService
ORS_API_KEY=

# Gemini AI
GEMINI_API_KEY=

# Pinecone VectorDB
PINECONE_API_KEY=
PINECONE_INDEX=
