# Mail
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

# JWT
JWT_SECRET=

# AWS RDS
DATABASE_URL=

# Google OAuth
GOOGLE_CLIENT_ID=

# Client URL
CLIENT_URL=
ADMIN_URL=

# PayOS
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_RETURN_URL=
PAYOS_CANCEL_URL=
PAYOS_TEST_AMOUNT=

# OpenRouteService
ORS_API_KEY==

# Gemini AI
GEMINI_API_KEY=

# Pinecone VectorDB
PINECONE_API_KEY=
PINECONE_INDEX=

# AWS
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
CLOUD_FRONT_URL=
